@mixin fnt($c,$s,$w) {
    font-size: $s;
    color: $c;
    font-weight: $w;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
:root{
    --wc: white;    
    --bc: black;    
    --tc: black;
    --bl: #106596;

    // --bg: hsl(0, 0%, 15%);
    // --bg: hsl(0, 0%, 15%);
    --bg: #ffffff; 
    
    
    --bl-ln: linear-gradient(to right, rgba(0, 0, 0, 0.786) 0%, rgba(0, 0, 0, 0.068) 90%); 
    --btn-ln: linear-gradient(to right, rgba(0, 0, 0, 0.786) 0%,rgba(0, 0, 0, 0.106) 90%);
}